/*Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Handlee&display=swap');

.navbar-custom {
    color: blue;
}

.navbar-custom .nav-link {
    color: blue;
}

.navbar-custom .nav-link.active {
    font-weight: bold;
}

