/*Google fonts */

@import url('https://fonts.googleapis.com/css2?family=Headland+One&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* CSS Variables */
:root {
    --primary-font: "Inter", sans-serif;
    --primary-font: "Inter", sans-serif;
    --secondary-font: "Headland One", 
    --primary-color: #73675A; /* Walnut Brown */
    --secondary-color:#EACDB1 ; /* desert sand */
    --highlight-color: #C59776; /* lion */
    --highlight-color-light: #7a9fc2; /* tiber wolf*/
}
/* Global Styles */
body {
    font-family:var(--primary-font);
    
}
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}


h1, h2, h3, h4, h5, h6 {
    font-family:var(--secondary-font);
}
.sub-heading-color h1, h2, h3 {

 color: var(--highlight-color);
}

/* Navbar Styles */

#navbar {
    
    background-color: var(--primary-color);
}


.navbar-custom .nav-link.active {
    font-weight: bold;
}

.navbar-brand {
    font-weight:600;
}

/* Make the navbar sticky */
.navbar {
    position: sticky;
    top: 0;
    z-index: 1000;
}

/* Style the hero section */
.hero {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),  url('../images/hero\ 2.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #FFEBD4;
    padding: 8rem 0;
}


/*Footer Styles */

#contact h2 {
    color:var(--highlight-color);
}

#contact {
    background-color:var(--primary-color);
        padding-bottom: 3rem;
}

#contact .social-links i:hover {
    color: var(--secondary-color);
}

#contact .social-links i {
    color: var(--highlight-color-light);
    font-size: 1.9rem;
    -webkit-transition: color 0.3s ease-in-out;
    -o-transition: color 0.3s ease-in-out;
    transition: color 0.3s ease-in-out;
}
